.btn {
    color: rgb(85, 85, 13);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20pt;
}
input{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15pt;
}